@charset "utf-8";
/* CSS Document */
body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	background-color:lemonchiffon;
	display: inline-block;
}

aside p {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-color: black;
	font-size: small;
	border: thin;
	padding: 10px;
}

aside {
	float: right;
	width: 30%;
	display: inline;
	background-color: lightgrey;
	font-style: italic;
	border:thick;
	border-color: black;
	border-style:solid;
}

nav {
	display: inline-block;
	background-color:beige;
	text-align-last: center;
	width: 100%;
	padding: 10px;
	margin-top: 30px;
}

nav ul {
	text-align: center;
}

nav li {
	color: black;
	text-align: center;
	margin: 2px;
	display: inline;
	width: 100%;
}

nav li a {
	color: navy;
}

nav li a:hover {
	color:red;
}

footer {
	width: 100%;
	text-align: center;
	display: inline;
}

.gallery > figure {
	display: grid;
	grid-template-columns:auto;
	grid-gap: 5px 5px;
}

img {
	border: thin;
	border-color: black;
	border-style: solid;
	width: 25%;
	height:auto;
	margin: 5px;
	
}

figcaption {
	grid-column-start: 1;
	width: 100%;
	text-align: center;
}

h1 {
	color: navy;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 2em;
	letter-spacing: .25em;
}

dd article p {
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	background-color:lemonchiffon;
	font-size: 1em;
	opacity: .8;
	display:inline;
}

.blog {
	background-image:url(assets/blog_screenshot.png);
	padding:75px;
	background-repeat: no-repeat;
}

dt {
	font-size: 1.25em;
	text-decoration: underline;
	font-weight:bold;
}
dd {
	font-style:italic;
}

dd figure figcaption {
	text-align: left;
	display:inline-block;
    font-style: italic;
}

em {
	color:red;
}

strong {
	color:purple;
}

.rightalign {
	float:right;
}

h2 {
	color:darkred;
	font-weight: bold;
}

h3 {
	font-style:italic;
}

aside p:nth-of-type(3) {
	text-align:right;
}